body {
	font-size: 12px !important;
}

.unactivated {
	background-color: #D4D4D4;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	padding: 20px;
}

#submitting {
	background: rgba(255, 255, 255, 0.65);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9001;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.spinner {
 	margin: 100px auto 0;
  	width: 70px;
  	align-self: center;
}

.spinner > div {
  	width: 20px;
  	height: 20px;
  	background-color: #3c8dbc;
  	border-radius: 100%;
  	display: inline-block;
  	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  	-webkit-animation-delay: -0.32s;
  	animation-delay: -0.32s;
}

.spinner .bounce2 {
  	-webkit-animation-delay: -0.16s;
  	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  	0%, 80%, 100% { -webkit-transform: scale(0) }
  	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  	0%, 80%, 100% { 
    	-webkit-transform: scale(0);
    	transform: scale(0);
  	} 40% { 
    	-webkit-transform: scale(1.0);
    	transform: scale(1.0);
  	}
}


.color-red {
	color: #FF0000 !important;
}

.scroll-x {
	overflow-x: auto;
}